.homepage {
  text-align: center;
  background-color: #44594F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.nav {
  width: auto;
  justify-content: flex-end;
  font-size: large;
  padding-top: 30px;
  padding-right: 80px;
}

nav .title {
  align-self: flex-start; 
}

.nav a {
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: flex-start;
  padding-right: 41px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: black;
}

